* {
    font-family: tahoma;
}

.contain {
    position: relative;
}

.text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: white;
}

.backgroundColor {
    background-color: rgb(241, 227, 227);
}

.bottom-left {
    position: absolute;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    left: 0px;
    font-size: 30px;
    background-color: lightblue;
    color: white;
}

.link{
    text-decoration: none;
    color: white;
}
.link:hover{
        color:rgb(121, 121, 189);
        text-decoration: none;
      
}

.imagies{
    display: inline;
    width: 75%;
}